<template>
  <section class="page-asset section container">
    <div class="columns">
      <div class="column">
        <router-link class="button is-link" to="/search">
          <span class="icon">
            <font-awesome-icon icon="arrow-left"/>
          </span>
          <span>Back to Search</span>
        </router-link>
      </div>
    </div>
    <h1 class="title">{{meta['AVAIL:Title']}}</h1>
    <p>{{meta['AVAIL:Description']}}</p>
    <hr>
    <figure v-if="meta['AVAIL:MediaType'] === 'image'" class="image">
      <img :src="file" :alt="meta['AVAIL:Title']">
    </figure>
    <audio
      v-if="meta['AVAIL:MediaType'] === 'audio'"
      controls
      :src="file"
      style="margin-bottom: 50px;">
      Your browser does not support the <code>audio</code> element.
    </audio>
  </section>
</template>

<script>
export default {
  name: "asset",
  data() {
    return {
      assets: {},
      meta: {}
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    file() {
      let arr = [];
      for (let i = 0; i < this.assets.length; i++) {
        arr.push(this.assets[i].href);
      }
      function inArray(item) {
        for (var i = 0; i < arr.length; i++) {
          if (arr[i].includes(item)) return true;
        }
        return false;
      }
      if (this.meta["AVAIL:MediaType"] === "image") {
        switch (true) {
          case inArray("~medium.jpg"):
            return arr.find(a => a.includes("~medium.jpg"));
          case inArray("~large.jpg"):
            return arr.find(a => a.includes("~large.jpg"));
          case inArray("~small.jpg"):
            return arr.find(a => a.includes("~small.jpg"));
          case inArray("~thumb.jpg"):
            return arr.find(a => a.includes("~thumb.jpg"));
          default:
            return arr.find(a => a.includes("~orig"));
        }
      } else {
        switch (true) {
          case inArray("~128k.mp3"):
            return arr.find(a => a.includes("~128k.mp3"));
          case inArray("~64k.mp3"):
            return arr.find(a => a.includes("~64k.mp3"));
          case inArray("~128k.m4a"):
            return arr.find(a => a.includes("~128k.m4a"));
          case inArray("~64k.m4a"):
            return arr.find(a => a.includes("~64k.m4a"));
          default:
            return arr.find(a => a.includes("~orig"));
        }
      }
    }
  },
  methods: {
    getAsset() {
      this.axios
        .get(process.env.VUE_APP_API_URL + "/asset/" + this.id)
        .then(response => {
          this.assets = response.data.collection.items;
        })
        .catch(e => {
          alert(e);
        });
    },
    getMeta() {
      this.axios
        .get(process.env.VUE_APP_API_URL + "/metadata/" + this.id)
        .then(response => {
          this.parseMeta(response.data.location);
        })
        .catch(e => {
          alert(e);
        });
    },
    parseMeta(url) {
      this.axios
        .get(url)
        .then(response => {
          this.meta = response.data;
        })
        .catch(e => {
          alert(e);
        });
    }
  },
  mounted() {
    this.getAsset();
    this.getMeta();
  }
};
</script>
