[<template>
  <div>
    <header class="page-search section has-background-black">
      <div class="container">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <img class="nasa-logo" src="images/nasa-logo.svg" alt="NASA" width="200">
            <h1 class="title has-text-white">NASA Search</h1>
            <SearchBar placeholder="Start typing to search..." v-model="query"/>
            <SearchFilter class="has-text-white" :options="options"/>
          </div>
        </div>
      </div>
    </header>
    <section class="search-results container section">
      <!-- Pagination -->
      <Pagination
        v-if="this.count > 0 && !this.loading"
        :current="currentPage"
        :max="Math.ceil(count / 100)"
        v-model="currentPage"
      />

      <hr v-if="this.count > 0 && !this.loading">

      <!-- Loading Spinner -->
      <font-awesome-icon v-if="this.loading && this.query !== ''" icon="sync" class="fa-spin fa-2x loading-spinner"/>

      <!-- Display 'no results' message -->
      <p v-if="this.count === 0 && !this.loading && this.query !== ''">No results found</p>

      <!-- Display 'enter search term' message -->
      <p v-if="this.query === ''">Please enter a search term</p>

      <!-- Display search results if they exist -->
      <div v-if="this.count > 0 && !this.loading" class="search-results columns is-multiline">
        <!-- Loop media data from API -->
        <div class="column is-3-widescreen is-4-tablet" v-for="(result, index) in results" v-bind:key="index">

          <!-- Dynamic router link containing media nasa_id -->
          <router-link :to="{ name: 'asset', params: { id: result.data[0].nasa_id }}">

            <!-- Media output for image files -->
            <figure
              v-if="result.data[0].media_type === 'image'"
              class="image is-4by3"
              :style="{ backgroundImage: 'url(' + noSpaces(result.links[0].href) + ')' }"
            >
              <span class="media-icon">
                <font-awesome-icon icon="image" />
              </span>
            </figure>

            <!-- Media output for audio files -->
            <figure
              v-if="result.data[0].media_type === 'audio'"
              class="audio image is-4by3"
            >
              <span class="media-icon">
                <font-awesome-icon icon="headphones" />
              </span>
              <span class="audio-label">{{result.data[0].title}}</span>
            </figure>

          </router-link>
        </div>
      </div>

      <hr v-if="this.count > 0 && !this.loading">
      <!-- Pagination -->
      <Pagination
        v-if="this.count > 0 && !this.loading"
        :current="currentPage"
        :max="Math.ceil(count / 100)"
        v-model="currentPage"
      />
    </section>
  </div>
</template>

<script>
import SearchBar from "@/components/SearchBar.vue";
import SearchFilter from "@/components/SearchFilter.vue";
import Pagination from "@/components/Pagination.vue";
import debounce from "lodash.debounce";

export default {
  name: "home",
  components: {
    SearchBar,
    SearchFilter,
    Pagination
  },
  computed: {
    // Create comma seperated list of selected media types for use in search()
    mediaTypes() {
      let options = [];
      for (const option of this.options) {
        if (option.selected === true) {
          options.push(option.value);
        }
      }
      return options.join(",");
    },
    options: {
      get() {
        return this.$store.state.options;
      },
      set(value) {
        this.$store.commit("options", value);
      }
    },
    query: {
      get() {
        return this.$store.state.query;
      },
      set(value) {
        this.$store.commit("query", value);
      }
    },
    results: {
      get() {
        return this.$store.state.results;
      }
    },
    count: {
      get() {
        return this.$store.state.count;
      },
      set(value) {
        this.$store.commit("count", value);
      }
    },
    loading: {
      get() {
        return this.$store.state.loading;
      },
      set(value) {
        this.$store.commit("loading", value);
      }
    },
    currentPage: {
      get() {
        return this.$store.state.currentPage;
      },
      set(value) {
        this.$store.commit("currentPage", value);
      }
    }
  },
  methods: {
    // Debounced to reduce excessive calls
    search: debounce(function() {
      if (this.query !== "") {
        const params = {
          query: this.query,
          mediaTypes: this.mediaTypes,
          page: this.currentPage
        };
        this.$store.dispatch("getResults", params);
      } else {
        this.loading = false;
        this.count = 0;
      }
    }, 300),
    noSpaces(string) {
      return string.replace(/ /g, "%20");
    }
  },
  watch: {
    // Watch for input/checkbox changes and execute API call (search query will be debounced)
    query() {
      this.loading = true;
      this.search();
    },
    options: {
      handler() {
        this.loading = true;
        this.search();
      },
      deep: true
    },
    currentPage() {
      this.loading = true;
      this.search();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "./src/scss/settings/variables";
header {
  background-image: url("/images/starsbg.jpg");
  background-size: cover;
  background-position: center center;
}
.nasa-logo {
  margin-bottom: 15px;
}
.loading-spinner {
  color: $red;
}
.search-results {
  figure {
    background-size: cover;
    background-position: center center;
    &.audio {
      background-color: $grey-darker;
    }
  }
  .media-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $red;
    color: #fff;
    padding: 5px 10px;
  }
  a {
    position: relative;
    display: block;
    transition: 200ms ease filter;
    &:hover {
      filter: brightness(60%);
    }
  }
  .audio-label {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 30px;
    color: #fff;
    transform: translateY(-50%);
  }
}
</style>
