<template>
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    
    <a @click="changePage(parseInt(current - 1))" v-if="current > 1" class="pagination-previous">Previous</a>
    <a v-else class="pagination-previous" disabled>Previous</a>

    <a @click="changePage(parseInt(current + 1))" v-if="max !== current" class="pagination-next">Next page</a>
    <a v-else class="pagination-next" disabled>Next page</a>

    <ul class="pagination-list">
      <li v-if="current > 1"><a @click="changePage(1)" class="pagination-link" aria-label="Goto first page">1</a></li>
      <li v-if="current > 3"><span class="pagination-ellipsis">&hellip;</span></li>
      <li v-if="current > 2"><a @click="changePage(parseInt(current - 1))" class="pagination-link" :aria-label="'Goto page ' + parseInt(current - 1)">{{parseInt(current - 1)}}</a></li>
      <li><a class="pagination-link is-current" :aria-label="'Page ' + current" aria-current="page">{{current}}</a></li>
      <li v-if="max > current"><a @click="changePage(parseInt(current + 1))" class="pagination-link" :aria-label="'Goto page ' + parseInt(current + 1)">{{parseInt(current + 1)}}</a></li>
      <li v-if="max > parseInt(current + 2)"><span class="pagination-ellipsis">&hellip;</span></li>
      <li v-if="max > parseInt(current + 1)"><a @click="changePage(max)" class="pagination-link" aria-label="Goto last page">{{max}}</a></li>
    </ul>

  </nav>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    current: Number,
    max: Number,
    min: Number,
    change: Function
  },
  methods: {
    changePage(val) {
      this.$emit("input", val);
    }
  }
};
</script>
