<template>
  <div class="search-filter columns">
    <div
        v-for="(option, index) in options"
        :class="['checkbox-option column', {'selected': option.selected === true}]"
        v-bind:key="index"
        @click="option.selected = !option.selected"
      >
      <span class="checkbox"></span>
      <span class="label">{{option.label}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchFilter",
  props: {
    options: Array
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "./src/scss/settings/variables";
.search-filter {
  .checkbox-option {
    cursor: pointer;
    &:hover .checkbox {
      border-color: darken($grey-mid, 11%);
    }
  }
  .checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid $grey-mid;
    position: relative;
    margin-right: 10px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    vertical-align: middle;
  }
  .label {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    color: inherit;
  }
  .selected {
    .checkbox {
      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $red;
        border-radius: 1px;
      }
    }
  }
}
</style>
