<template>
  <div class="search-bar columns">
    <div class="field column">
      <p class="control has-icons-right">
        <input 
          class="input"
          type="search"
          :placeholder="placeholder"
          :value="value"
          v-on:input="$emit('input', $event.target.value)"
        >
        <span class="icon is-small is-right">
          <font-awesome-icon icon="search" />
        </span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  props: {
    placeholder: String
  },
  data() {
    return {
      value: ""
    };
  }
};
</script>
