<template>
  <div class="search-results">
    <ul>
      <li
          v-for="(option, index) in options"
          :class="['checkbox-option', {'selected': option.selected === true}]"
          v-bind:key="index"
          @click="option.selected = !option.selected"
        >
        <span class="checkbox"></span>
        <span class="label">{{option.label}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "SearchResults",
  props: {
    options: Array
  }
};
</script>
